body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: white;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.profile-container {
  margin-bottom: 20px;
  background-color: #1e204c;
}
.inner-profile {
  background-color: hsl(246, 80%, 60%);
  padding: 10px;
  border-radius: 10px;
}
h1 {
  margin-bottom: 0;
  margin-top: 5px;
}
.report-text {
  margin-bottom: 0;
}
.profile-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
}
.weekly-container {
  list-style-type: none;
  padding-left: 0;
  background-color: #1e204c;
  margin-top: 0;
  padding: 10px;
}
li {
  padding-bottom: 10px;
}
.work-container {
  background-color: #1e204c;
}
.flex-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.peak-img {
  background-color: hsl(15, 100%, 70%);
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.peak-img-two {
  display: flex;
  justify-content: flex-end;
  background-color: #56c2e5;
}
.peak-img-three {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(348, 100%, 68%);
}
.peak-img-four {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(145, 58%, 55%);
}
.peak-img-five {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(264, 64%, 52%);
}
.peak-img-six {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(43, 84%, 65%);
}
.inner-work {
  padding: 10px;
  border-radius: 12px;
  background-color: #1e204c;
}
