body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: white;
}
.container {
  max-width: 1440px;
}
.profile-container {
  background-color: hsl(246, 80%, 60%);
  margin-bottom: 60px;
  padding: 10px;
}
.profile-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
}
.weekly-container {
  list-style-type: none;
  padding-left: 0;
}
li {
  padding-bottom: 10px;
}
